@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9fafb;
    --foreground: #f1f5f9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  .custom-scroll::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #fde68a;
    border-radius: 4px;
  }
}

/* Small Screen */
@media (min-width: 0px) and (max-width: 743px) {
  .smallScreen {
    display: block;
    width: 375px;
    margin: 0 auto;
  }
  .mediumScreen {
    display: none;
  }
  .largeScreen {
    display: none;
  }
}

/* Medium Screen */
@media (min-width: 744px) and (max-width: 1199px) {
  .smallScreen {
    display: none;
  }
  .mediumScreen {
    display: block;
    width: 744px;
    margin: 0 auto;
  }
  .largeScreen {
    display: none;
  }
}

/* Large Screen */
@media (min-width: 1200px) {
  .smallScreen {
    display: none;
  }
  .mediumScreen {
    display: none;
  }
  .largeScreen {
    display: block;
    width: 1200px;
    margin: 0 auto;
  }
}
