.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
}

/* Small Screen */
@media (min-width: 0px) and (max-width: 743px) {
  .smallScreen {
    display: block;
    width: 375px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .mediumScreen {
    display: none;
  }
  .largeScreen {
    display: none;
  }
}

/* Medium Screen */
@media (min-width: 744px) and (max-width: 1199px) {
  .smallScreen {
    display: none;
  }
  .mediumScreen {
    display: block;
    width: 744px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .largeScreen {
    display: none;
  }
}

/* Large Screen */
@media (min-width: 1200px) {
  .smallScreen {
    display: none;
  }
  .mediumScreen {
    display: none;
  }
  .largeScreen {
    display: block;
    width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
